@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


body{
    margin: 0px;
    padding: 0px;
}
.defaultLink, .defaultText{
    text-decoration: none;
    color: #464343;
}
.Home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
}
h1,h2,h3,p, a, button{
    font-family: 'Roboto', sans-serif;
    color: #464343;
}


/*buttons */
.addToCart{
    grid-area: button;
    margin: 0 0 0 auto;
}
.back{
    margin: 20px auto 20px auto;
    display: block;
    width: 75px;
  }

/*global error border */
.error{
    border-color: #DD5f57 !important;
}

@media screen and (max-width:1250px){
    .Home{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:1024px) {
    .Home{
        max-width: 100%;
        width: 100%;
    }
}
@media screen and (max-width:850px) {
    .Home{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:460px) {
    .Home{
        grid-template-columns: 1fr;
        width: 80%;
    }
}
@media screen and (max-width:400px) {
    .Home{
        width: 100%;
    }
}